<div id="footer_inner">
    <a id="owid_link" href="https://ourworldindata.org/" target="_blank" aria-label="Our World in Data"><img
            src="images/owid_logo.png" alt="Our World in Data" height="50px" width="87.5px"></a>

    <p>&copy; 2022 Cody Peters</p>

    <div id="social_container">
        <a class="social_background" href="https://github.com/cdy-peters/covid-timeline" target="_blank"
            aria-label="Github">
            <i class="bi bi-github"></i>
        </a>
        <a class="social_background" href="https://linkedin.com/in/cdy-peters" target="_blank" aria-label="Linkedin">
            <i class="bi bi-linkedin"></i>
        </a>
        <a class="social_background" href="https://codypeters.dev" target="_blank" aria-label="Portfolio Website">
            <i class="bi bi-person-fill"></i>
        </a>
        <br style="clear: both;">
    </div>
</div>