<div id="footer_inner">
    <a id="owid_link" href="https://ourworldindata.org/"><img src="images/owid_logo.png"></a>

    <p>&copy; 2022 Cody Peters</p>

    <div id="social_container">
        <a class="social_background" href="https://github.com/cdy-peters/covid-timeline">
            <i class="bi bi-github"></i>
        </a>
        <a class="social_background" href="https://linkedin.com/in/cdy-peters">
            <i class="bi bi-linkedin"></i>
        </a>
        <a class="social_background" href="https://codypeters.dev">
            <i class="bi bi-person-fill"></i>
        </a>
        <br style="clear: both;">
    </div>
</div>