<h4><a href="/">Choropleth Timelines</a></h4>
<div class="nav-btns">
    <a id="<%= title === 'Covid-19 Timeline' && 'nav-active' %>" href="/covid">Covid</a>
    <a id="<%= title === 'Monkeypox Timeline' && 'nav-active' %>" href="/monkeypox">Monkeypox</a>
</div>