<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid-19 Timeline</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div style="display: flex; justify-content: center;">
        <div id="date" style="float: left;">
            <input type="date" id="date_picker" min="2020-01-01" onchange="picker_change(this)" required>
        </div>

        <div id="slider">
            <input id="date_slider" type="range" min="0" style="width: 600px;" oninput="slider_change(this)">
        </div>
    </div>

    <form name="data_type_radio">
        <h5>Cases</h5>
        <input type="radio" name="data_type" value="total_cases" checked>Total Cases<br>
        <input type="radio" name="data_type" value="new_cases">New Cases<br>
        <h5>Deaths</h5>
        <input type="radio" name="data_type" value="total_deaths">Total Deaths<br>
        <input type="radio" name="data_type" value="new_deaths">New Deaths<br>
        <h5>Hospital & ICU</h5>
        <input type="radio" name="data_type" value="icu_patients">ICU Patients<br>
        <input type="radio" name="data_type" value="hosp_patients">Hospital Patients<br>
        <h5>Tests & Positivity</h5>
        <input type="radio" name="data_type" value="total_tests">Total Tests<br>
        <input type="radio" name="data_type" value="new_tests">New Tests<br>
        <h5>Vaccinations</h5>
        <input type="radio" name="data_type" value="total_vaccinations">Total Vaccinations<br>
        <input type="radio" name="data_type" value="people_vaccinated">People Vaccinated<br>
        <input type="radio" name="data_type" value="people_fully_vaccinated">People Fully Vaccinated<br>
        <input type="radio" name="data_type" value="new_vaccinations">New Vaccinations<br>
    </form>

    <div id="main">
        <h1>Covid-19 Timeline</h1>
        <p style="position: absolute;"><strong>Date:</strong> <span id="date_value"></span></p>
        <svg id="choropleth" width="1000" height="800"></svg>
    </div>
    
    <!-- JS Libraries -->
    <script src="js/d3.min.js"></script>

    <!-- JS Code -->
    <script src="js/choropleth.js"></script>
</body>
</html>