<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monkeypox Timeline</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.4.4/d3.min.js"></script>
</head>

<div class="flex-wrapper">

    <nav>
        <h4><a href="/">Choropleth Timelines</a></h4>
        <div class="nav-btns">
            <a href="/covid">Covid</a>
            <a href="/monkeypox" class="nav-active">Monkeypox</a>
        </div>
    </nav>

    <body>
        <div id="content_div">
            <form id="data_type_form" name="data_type_radio">
                <h4>Cases</h4>
                <input type="radio" name="data_type" value="total_cases" checked>Total Cases<br>
                <input type="radio" name="data_type" value="new_cases">New Cases<br>
            </form>

            <div id="chart_div">
                <div id="data_type_outer">
                    <div id="data_type_inner">
                        <select id="data_type_selection" onchange="select_change(this)">
                            <optgroup label="Cases"></optgroup>
                            <option value="total_cases">Total Cases</option>
                            <option value="new_cases">New Cases</option>
                        </select>
                    </div>
                </div>
                <div id="date_selection">

                    <input type="date" id="date_picker" min="2022-05-06" onchange="picker_change(this)" required>
                    <input type="range" id="date_slider" min="0" style="width: 600px;" oninput="slider_change(this)">
                </div>

                <div id="main">
                    <h1 id="chart_title">Total Monkeypox Cases per Million People</h1>
                    <p id="author_title">This web app is accessible via <a
                            href="https://codypeters.dev">codypeters.dev</a>
                    </p>
                    <p id="author_title">Data provided by <a href="https://ourworldindata.org/monkeypox">
                            <i>Our World in Data</i>
                        </a></p>
                    <svg id="choropleth" viewbox="0, 0, 1000, 800" preserveAspectRatio='xMidYMid meet'></svg>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script src="js/monkeypox/main.js"></script>
        <script src="js/monkeypox/choropleth_switches.js"></script>
        <script src="js/monkeypox/choropleth_funcs.js"></script>
        <script src="js/monkeypox/choropleth.js"></script>
    </body>

    <footer>
        <div id="footer_inner">
            <a id="owid_link" href="https://ourworldindata.org/"><img src="images/owid_logo.png"></a>

            <p>&copy; 2022 Cody Peters</p>

            <div id="social_container">
                <a class="social_background" href="https://github.com/cdy-peters/covid-timeline">
                    <i class="bi bi-github"></i>
                </a>
                <a class="social_background" href="https://linkedin.com/in/cdy-peters">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a class="social_background" href="https://codypeters.dev">
                    <i class="bi bi-person-fill"></i>
                </a>
                <br style="clear: both;">
            </div>
        </div>
        <div id="sources">
            <div id="authors">
                <h3>Authors</h3>
                <p>This data has been collected, aggregated, and documented by Edouard Mathieu, Fiona Spooner, Saloni
                    Dattani, Hannah Ritchie and Max Roser.
                </p>
            </div>
            <div id="references">
                <h3>References</h3>
                <div id="reference">
                    <h5>Global.health Monkeypox (accessed on 2022-08-26)</h5>
                    <p>Kraemer, Tegally, Pigott, Dasgupta, Sheldon, Wilkinson, Schultheiss, et al. Tracking the 2022
                        Monkeypox Outbreak with Epidemiological Data in Real-Time. The Lancet Infectious Diseases.</p>
                    <a
                        href="https://doi.org/10.1016/S1473-3099(22)00359-0">https://doi.org/10.1016/S1473-3099(22)00359-0</a>
                </div>
            </div>
        </div>
    </footer>
</div>

<div id="loading_bg">

</div>

</html>