<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <meta name="description"
            content="Choropleth Timelines visualizes a historical timeline of data where users can select past dates or, scrub through the individual days provided by the dataset.">
</head>

<div class="flex-wrapper">

    <body>
        <h1 id="title">Choropleth Timelines</h1>
        <a href="/covid" class="home-btn">Covid</a>
        <a href="/monkeypox" class="home-btn">Monkeypox</a>
    </body>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</div>

</html>