<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <meta name="description" content="Visualization of Monkeypox around the world along a historical timeline.">
</head>

<div class="flex-wrapper">

    <nav>
        <%- include('../partials/nav.ejs') %>
    </nav>

    <body>
        <div id="content_div">
            <form id="data_type_form" name="data_type_radio">
                <h4>Cases</h4>
                <label><input type="radio" name="data_type" value="total_cases" checked> Total Cases</label>
                <br>
                <label><input type="radio" name="data_type" value="new_cases"> New Cases</label>
                <br>
            </form>

            <div id="chart_div">
                <div id="data_type_outer">
                    <div id="data_type_inner">
                        <select id="data_type_selection" onchange="select_change(this)">
                            <optgroup label="Cases"></optgroup>
                            <option value="total_cases">Total Cases</option>
                            <option value="new_cases">New Cases</option>
                        </select>
                    </div>
                </div>
                <div id="date_selection">

                    <input type="date" id="date_picker" aria-label="Date picker" min="2022-05-06"
                        onchange="picker_change(this)" required>
                    <input type="range" id="date_slider" aria-label="Date slider" min="0" style="width: 600px;"
                        oninput="slider_change(this)">
                </div>

                <div id="main">
                    <h1 id="chart_title">Total Monkeypox Cases per Million People</h1>
                    <p id="author_title">This web app is accessible via <a
                            href="https://codypeters.dev">codypeters.dev</a>
                    </p>
                    <p id="author_title">Data provided by <a href="https://ourworldindata.org/monkeypox">
                            <i>Our World in Data</i>
                        </a></p>
                    <svg id="choropleth" viewbox="0, 0, 1000, 800" preserveAspectRatio='xMidYMid meet'></svg>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="js/monkeypox/main.min.js"></script>
        <script src="js/monkeypox/choropleth_switches.min.js"></script>
        <script src="js/monkeypox/choropleth_funcs.min.js"></script>
        <script src="js/monkeypox/choropleth.min.js"></script>
    </body>

    <footer>
        <%- include('../partials/footer.ejs') %>
            <div id="sources">
                <div id="authors">
                    <h1>Authors</h1>
                    <p>This data has been collected, aggregated, and documented by Edouard Mathieu, Fiona Spooner,
                        Saloni
                        Dattani, Hannah Ritchie and Max Roser.
                    </p>
                </div>
                <div id="references">
                    <h1>References</h1>
                    <div id="reference">
                        <h2>Global.health Monkeypox (accessed on 2022-08-26)</h2>
                        <p>Kraemer, Tegally, Pigott, Dasgupta, Sheldon, Wilkinson, Schultheiss, et al. Tracking the 2022
                            Monkeypox Outbreak with Epidemiological Data in Real-Time. The Lancet Infectious Diseases.
                        </p>
                        <a
                            href="https://doi.org/10.1016/S1473-3099(22)00359-0">https://doi.org/10.1016/S1473-3099(22)00359-0</a>
                    </div>
                </div>
            </div>
    </footer>
</div>

<div id="loading_bg">

</div>

</html>